---
import { getCollection, getEntryBySlug } from 'astro:content'
import NavigationBar from '../../components/NavigationBar.astro'
import '../../styles/global.css'
import '../../styles/log.css'

const { log: logSlug } = Astro.params

export const getStaticPaths = async () => {
   const logs = (await getCollection('logs')) ?? []
   return logs.map((log) => {
      return {
         params: { log: log.data.slug },
         props: { log },
      }
   })
}

// type LogType = Awaited<ReturnType<typeof getCollection<"logs">>[]>

const thisLog = (await getEntryBySlug('logs', logSlug))
if (!thisLog) {
    throw new Error("Log not found");
}
const frontmatter = thisLog.data
const { Content } = await thisLog.render()
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>{frontmatter.title}</title>
   </head>
   <body>
      <NavigationBar />
      <div class="half-spacer"></div>
      <div class="container">
         <Content />
      </div>
   </body>
</html>
