---
import NavigationBar from "../components/NavigationBar.astro"
import Logs from "../components/Logs.astro"
import "../styles/global.css"

const pageTitle = "Xero"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <NavigationBar />
        <!-- INTRODUCTION -->
        <section class="introduction">
            <div class="container">
                <section class="title">
                    <h1 class="hero">HEY, I'M XERO!</h1>
                    <p>I'm a first year Computer Science student interested in Android Development and Machine Learning at the moment. My hobbies include programming, drawing, playing chess and watching anime, welcome to my space on the internet :)</p>
                </section>
            </div>
        </section>
        <Logs />
	</body>
</html>
