---
import NavigationBar from '../components/NavigationBar.astro'
import Logs from '../components/Logs.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

const pageTitle = 'Xero'
---

<style>
   .scroll-down {
      margin: 0px auto !important;
      color: var(--color-neutral-900)
   }

   .scroll-down svg {
      width: 32px;
      max-width: 32px;
   }

   body.dark-theme .scroll-down {
      color: var(--color-neutral-000);
   }
</style>

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>{pageTitle}</title>
   </head>
   <body>
      <NavigationBar theme="light" />
      <!-- INTRODUCTION -->
      <section class="introduction">
         <div class="container">
            <section class="title">
               <h1 class="hero">HEY, I'M XERO!</h1>
               <p>
                  I'm a first year Computer Science student interested in
                  Android Development and Machine Learning at the moment. My
                  hobbies include programming, drawing, playing chess and
                  watching anime, welcome to my space on the internet :)
               </p>
            </section>
         </div>
      </section>
      <a href="#logs" class="scroll-down">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
         >
            <path
               stroke-linecap="round"
               stroke-linejoin="round"
               d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"
               fill="#060709"></path>
         </svg>
      </a>
      <Logs />
      <div class="spacer"></div>
      <Footer />
   </body>
</html>

<script>
   import { persistTheme } from '../scripts/theme-switch'
   persistTheme()
</script>
