<style>
   .switch-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
   }

   .theme-switch {
      width: 24px;
      height: 24px;
   }

   .switch-container.dark .theme-switch {
      transform: scaleX(-1);
   }

   .switch-container span {
      margin-left: 8px;
   }

   .switch-container:hover span {
      text-decoration: underline !important;
   }

   @media screen and (max-width: 640px) {
      .switch-container {
         padding-top: 24px !important;
      }
   }
</style>

<div class="switch-container" data-theme-switch>
   <img src="/icons/theme-switch.svg" alt="theme" class="theme-switch" />
   <span>Theme</span>
</div>

<script>
   document.addEventListener('DOMContentLoaded', () => {
      const themeSwitch = document.querySelector(
         '[data-theme-switch]'
      ) as HTMLDivElement
      const documentBody = document.querySelector('body') as HTMLElement

      if (themeSwitch == null) {
         throw new Error('Failed to load theme switch scripts.')
      }

      function setSiteTheme() {
         const theme = themeSwitch.classList.contains('dark') ? 'light' : 'dark'
         themeSwitch.classList.toggle('dark')
         documentBody.classList.toggle('dark-theme')
         localStorage.setItem('site-theme', theme)
      }

      themeSwitch.addEventListener('click', () => setSiteTheme())
      themeSwitch.addEventListener('touchstart', () => setSiteTheme())
   })
</script>
